.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
  max-width: 1024px;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  right: 0;
  top: 128px;
  min-height: 500px;
  width: 35%;
  bottom: 64px;
}

.perspective {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40%;
  background-color:  hsl(195deg, 20%, 86%);
}

.controlColumn {
  width: 50%;
}

@media (max-width: 600px) {
  .characterEditor {
    padding-top: 24px;
  }

  .title, .header {
    width: 100%;
  }

  .perspective {
    z-index: 1;
  }

  .maxWidthWrapper {
    z-index: 4
  }

  .controlColumn {
    position: absolute;
    height: 150px;
    white-space: nowrap;
    overflow-x: scroll; /* minimal scrollbar visible on iOS Chrome and Safari */
    bottom: -372px;
    width: calc(100vw - 32px);
    margin-left: -16px;
    z-index: 3;
  }


  /* HACK: using these risky selectors instead of
      the Components' css modules to keep all of
      the stretch task changes together
  */
  /* ControlPane */
  .controlColumn > div {
    display: inline-block;
    margin: 0;
    margin-right: 16px;
    width: 300px;
  }
  /* ButtonRow */
  .controlColumn > div > div {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 16px;
  }

  .characterWrapper {
    position: relative;
    width: 90%;
    z-index: 2;
    margin-top: -168px;
    margin-left: auto;
    /* adding margin-right: auto made the div appear uncentered */
    padding-bottom: 64px;
  }

  footer {
    z-index: 2;
  }

}
